#root {
  margin: 0 auto;
  /* text-align: center; */
  font-family: sans-serif;
}

:root {
  --datagrid-bg: rgb(76, 82, 82);
  --datagrid-header-bg: rgb(16, 128, 219);
  --datagrid-border: black;
  --datagrid-cell-color: #fff;
  --workspace-bg: rgb(135, 141, 155);
}

.theme-light {
  --datagrid-bg: #fff;
  --datagrid-header-bg: #e3e3e3;
  --datagrid-border: #bbb;
  --datagrid-cell-color: #222;
  --workspace-bg: #e1e1e1;
}

.theme-dark {
  --datagrid-bg: rgb(76, 82, 82);
  --datagrid-header-bg: rgb(192, 196, 188);
  --datagrid-border: black;
  --datagrid-cell-color: #fff;
  --workspace-bg: rgb(135, 141, 155);
}


body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--workspace-bg);
}


.DataGrid {
  background-color: var(--datagrid-bg);
  max-height: 100vx;
  overflow: auto;
}

.DataGrid table {
  border-collapse: collapse;
  /* width: auto; */
  /* background: var(--datagrid-bg); */
  /* color: var(--datagrid-cell-color); */
  /* border-color: var(--datagrid-border); */
}

.DataGrigHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--datagrid-header-bg);
  color: black;
  border-top: 2px solid var(--datagrid-border);
}

.DataGrid td,
th {
  border: 1px solid var(--datagrid-border);
  padding: 1px;
  text-align: left;
  /* color: var(--datagrid-cell-color); */
}

.Q2TabWidget {
  padding: 0 0.3em 0 0;
  margin: 0;
  gap: 2px;
  border: none;
  border-bottom: 1px solid;
  display: flex;
  background: transparent
}

.Q2TabWidget input {
  display: none;
}

.Q2TabWidget label {
  border: 1px solid gray;
  background: var(--form-input-bg);
  padding: 0.3em 0.7em;
  border: none
}

.Q2TabWidget label:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.Q2TabWidget input[type="radio"]:checked+label {
  background-color: LightSkyBlue;
}
