#root {
  margin: 0 auto;
  font-family: sans-serif;
}

:root {
  --max-width: 1000px;

  --datagrid-bg: #fff;
  --datagrid-bg-odd: #f7f7f7;
  --datagrid-header-bg: #e3e3e3;
  --datagrid-border: #bbb;
  --datagrid-cell-color: #222;
  --workspace-bg: #e1e1e1;
}

.dark {
  --datagrid-bg: rgb(93, 93, 103);
  --datagrid-bg-odd: rgb(74, 74, 84);
  --datagrid-header-bg: rgb(192, 196, 188);
  --datagrid-border: black;
  --datagrid-cell-color: #fff;
  --workspace-bg: rgb(135, 141, 155);
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--workspace-bg);
}


.dialog-pre-container,
.MainMenuBar {
  max-width: var(--max-width);
  /* width: 100%; */
  box-sizing: border-box;
  margin: 0 auto;
}

.MainMenuBar {
  left: 50%;
  transform: translateX(-50%);
}

.DataGrid {
  background-color: var(--datagrid-bg);
  max-height: 100vx;
  overflow: auto;
}

.DataGrid table {
  border-collapse: collapse;
  /* width: auto; */
  /* background: var(--datagrid-bg); */
  /* color: var(--datagrid-cell-color); */
  /* border-color: var(--datagrid-border); */
}

.DataGrigHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--datagrid-header-bg);
  color: black;
  border-top: 2px solid var(--datagrid-border);
}

.DataGrid td,
th {
  border: 1px solid var(--datagrid-border);
  padding: 1px;
  text-align: left;
  /* color: var(--datagrid-cell-color); */
}

.Q2TabWidget {
  padding: 0 0.3em 0 0;
  margin: 0;
  gap: 2px;
  border: none;
  border-bottom: 1px solid var(--datagrid-border);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  background: transparent
}

.Q2TabWidget input {
  display: none;
}

.Q2TabWidget label {
  /* border: 1px solid ; */
  background: var(--form-input-bg);
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  border: 1px solid var(--datagrid-border);
  padding: 0.3em 0.7em;
  border: none
}

.Q2TabWidget label:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.Q2TabWidget input[type="radio"]:checked+label {
  background-color: LightSkyBlue;
}
