.Q2Button {
    padding: 0.5cap 0.5cap;
    border: 1px solid green;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    margin: 2px 4px;
}

.Q2Button:hover:enabled {
    cursor: pointer;
    filter: brightness(90%);
}

.Q2Button:disabled {
    filter: grayscale() brightness(90%);
}