.Q2Button {
    padding: 0.5em 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid green;
    border-radius: 0.5em;
    text-align: center;
    text-decoration: none;
}

.Q2Button:hover:enabled {
    cursor: pointer;
    filter: brightness(90%);
}

.Q2Button:disabled {
    filter: grayscale() brightness(90%);
}