.Q2DataList {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-top: none;
    border-right: none;
}

.Q2DataList-header {
    display: flex;
    flex-direction: row;
    background: rgb(125, 148, 242);
    color: aliceblue;
    position: sticky;
    align-items: stretch;
    top: 0;
}

.Q2DataList-scrollarea {
    overflow: auto;
    box-sizing: border-box;
}

.Q2DataList-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.Q2DataList-cell {
    display: flex;
    border-top: 1px solid black;
    border-right: 1px solid black;
    flex: 1 1;
    padding: 0.1rem;
    padding-left: 0.4rem;
    box-sizing: border-box;
}

.Q2DataList-header-cell {
    position: relative;
    /* 👈 This keeps resizer inside each header cell */
    border-right: 1px solid #ccc;
    padding: 4px 8px;
    box-sizing: border-box;
    overflow: hidden;
    background: #d0e0ff;
    color: black
}

.Q2DataList-resizer {
    position: absolute;
    top: 0;
    right: 0px;
    /* width: 2px; */
    background: black;
    height: 100%;
    /* 👈 Full height of the cell */
    cursor: col-resize;
    user-select: none;
    z-index: 10;
}

.Q2DataList-header-cell,
.Q2DataList-cell {
    flex: 0 0 auto;
    /* 👈 respect fixed width */
}

.Q2DataList-header,
.Q2DataList-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}