.Q2RadioButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
}

input[type="radio"] {
    appearance: none;
    width: 1.3cap;
    height: 1.3cap;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}
input[type="radio"]:checked {
    background-color: black;
}