:root {
  --datagrid-bg: rgb(76, 82, 82);
  --datagrid-header-bg: rgb(16, 128, 219);
  --datagrid-border: black;
  --datagrid-cell-color: #fff;
}

.theme-light {
  --datagrid-bg: #fff;
  --datagrid-header-bg: #e3e3e3;
  --datagrid-border: #bbb;
  --datagrid-cell-color: #222;
}

.theme-dark {
  --datagrid-bg: rgb(76, 82, 82);
  --datagrid-header-bg: rgb(16, 128, 219);
  --datagrid-border: black;
  --datagrid-cell-color: #fff;
}

table {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background: var(--datagrid-bg);
    color: var(--datagrid-cell-color);
    border-color: var(--datagrid-border);
}