.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.group-box {
  border: 1px solid wheat;
  padding: 20px 0.3cap 0.5cap;
  margin: 1cap 0.3cap 0.5cap;
  border-radius: 5px;
  position: relative;
}

.group-box-title {
  position: absolute;
  border: 1px solid red;
  border-radius: 5px;
  top: -10px;
  left: 10px;
  background: black;
  padding: 0 5px;
  font-weight: bold;
}
