:root {
    --menu-bg: #333;
    --menu-border: #444;
    --menu-btn-bg: #333;
    --menu-btn-color: #fff;
    --menu-dropdown-bg: #f9f9f9;
    --menu-dropdown-color: #000;
    --menu-dropdown-hover-bg: #857b7b;
    --menu-dropdown-hover-color: #000;
    --menu-submenu-bg: #f9f9f9;
    --menu-submenu-hover-bg: #e0e0e0;
    --tool-btn-bg: rgb(88, 82, 78);
    --tool-btn-color: #fff;
    --tool-btn-hover-bg: royalblue;
    --newtab-btn-bg: green;
    --newtab-btn-hover-bg: greenyellow;
    --newtab-btn-hover-color: black;
}

hr {
    color: lightgray;
}

.theme-light {
    --menu-bg: #cfcfcf;
    --menu-border: #bbb;
    --menu-btn-bg: #f5f5f5;
    --menu-btn-color: #222;
    --menu-dropdown-bg: #fff;
    --menu-dropdown-color: #222;
    --menu-dropdown-hover-bg: #e0e0e0;
    --menu-dropdown-hover-color: #000;
    --menu-submenu-bg: #fff;
    --menu-submenu-hover-bg: #e0e0e0;
    --tool-btn-bg: #e0e0e0;
    --tool-btn-color: #222;
    --tool-btn-hover-bg: #1976d2;
    --newtab-btn-bg: #4caf50;
    --newtab-btn-hover-bg: #b2ff59;
    --newtab-btn-hover-color: #222;
}

.theme-dark {
    --menu-bg: #333;
    --menu-border: #444;
    --menu-btn-bg: #4b4b4b;
    --menu-btn-color: #fff;
    --menu-dropdown-bg: #222;
    --menu-dropdown-color: #fff;
    --menu-dropdown-hover-bg: #857b7b;
    --menu-dropdown-hover-color: #fff;
    --menu-submenu-bg: #222;
    --menu-submenu-hover-bg: #444;
    --tool-btn-bg: rgb(88, 82, 78);
    --tool-btn-color: #fff;
    --tool-btn-hover-bg: rgb(65, 225, 129);
    --newtab-btn-bg: green;
    --newtab-btn-hover-bg: greenyellow;
    --newtab-btn-hover-color: black;
}

.MainMenuBar {
    width: 100%;
    padding: 0;
    background-color: var(--menu-bg);
    color: var(--menu-btn-color);
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--menu-border);
    font-family: Arial, sans-serif;
}

.MainMenuBar .Q2Button {
    margin: 0;
}

.menuItems button {
    margin: 0;
    padding: 0.2em 0.8em;
    border: none;
    height:100%;
    color: var(--menu-btn-color);
    cursor: pointer;
    font-size: 1em;
    background: var(--menu-btn-bg);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--menu-btn-bg);
    color: var(--menu-btn-color);
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--menu-dropdown-bg);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.dropdown-content button {
    color: var(--menu-dropdown-color);
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    background: var(--menu-dropdown-bg);
}

.dropdown-content button:hover {
    background-color: var(--menu-dropdown-hover-bg);
    color: var(--menu-dropdown-hover-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menuItems {
    display: flex;
}

.MainMenuIcon {
    margin: auto 0.3em;
    padding: 0.2em;
    border: 1px solid transparent;
    cursor: pointer;
}

.MainMenuIcon:hover {
    border: 1px solid black;
    border-radius: 0.5em;
    filter: brightness(90%);
}

.newTabButton {
    background-color: var(--newtab-btn-bg);
}

.newTabButton:hover {
    background-color: var(--newtab-btn-hover-bg);
    color: var(--newtab-btn-hover-color);
    cursor: pointer;
}

.submenu {
    position: relative;
}

.submenubtn {
    background-color: var(--menu-submenu-bg);
    color: var(--menu-dropdown-color);
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.submenu-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--menu-submenu-bg);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.submenu:hover>.submenu-content {
    display: block;
}

.submenu:hover>.submenubtn {
    background-color: var(--menu-submenu-hover-bg);
}

.submenu-content .submenu-content {
    left: 100%;
    top: 0;
}

.toolButtons {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.toolButton {
    background-color: var(--menu-btn-bg);
    color: var(--tool-btn-color);
    padding: 2px;
    font-size: 14px;
    border: 1px solid var(--tool-btn-bg);
    border-radius: 5px;
    margin: 2px;
}

.toolButton:hover {
    background-color: var(--menu-submenu-hover-bg);
    /* background-color: red; */
}

.spacer1 {
    flex-grow: 1;
}

.spacer9 {
    flex-grow: 9;
}

.dropbtn:hover,
.submenubtn:hover {
    background-color: var(--menu-dropdown-hover-bg);
    color: var(--menu-dropdown-hover-color);
}

.dropdown:hover .dropdown-content,
.submenu:hover .submenu-content {
    display: block;
}