/* Theme variables */
:root {
  --form-bg: #23272f;
  --form-border: rgb(179, 186, 245);
  --form-label: #e0e0e0;
  --form-groupbox-bg: #23272f;
  --form-input-bg: lightgray;
  --form-input: black;
  --form-input-disabled: lightgray;
  --form-input-focus: black;
}

.theme-light {
  --form-bg: #fff;
  --form-border: #b3b6f5;
  --form-label: #222;
  --form-groupbox-bg: #f5f5f5;
  --form-input-bg: rgb(225, 242, 245);
  --form-input: black;
  --form-input-disabled: lightgray;
  --form-input-focus: rgb(186, 226, 240);
}

.theme-dark {
  --form-bg: #23272f;
  --form-border: rgb(179, 186, 245);
  --form-label: #e0e0e0;
  --form-groupbox-bg: #23272f;
  --form-input-bg: gray;
  --form-input: white;
  --form-input-disabled: gray;
  --form-input-focus: black;
}

* {
  white-space: nowrap;
}

button {
  background-color: var(--form-input-bg);
  color: var(--form-input);
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

.Q2RadioButton,
.Q2CheckBox-container,
.Q2Combo:input,
.Q2Text,
.Q2Line {
  background-color: var(--form-input-bg);
  color: var(--form-input);
  border: 1px solid gray;
  padding: 1px 2px;
}

.Q2RadioButton,
.Q2CheckBox-container {
  display: inline-block;
  padding: 0 0cap;
}

.Q2CheckBox-container {
  /* padding: 0px; */
  /* height: 1.8cap; */
  /* display: flex; */
  /* margin: 3px; */
  /* padding-right: 0.5cap; */
}

.Q2RadioButton:focus-within,
.Q2CheckBox-container:focus-within,
.Q2Button:focus,
.Q2Text:focus,
.Q2Combo input:focus,
.Q2Line:focus {
  background-color: var(--form-input-focus);
}

._Q2RadioButton.disabled,
._Q2CheckBox-container.disabled,
._Q2Text:disabled,
._Q2Line:disabled {
  background-color: var(--form-input-disabled);
}

.Q2CheckBox-container label {
  padding: 0 1cap;
}

.Q2RadioButton label {
  padding: 0 1cap;
}

.Panel {
  min-width: 0;
  color: var(--form-label);
  display: flex;
  position: relative;

  /* Ensure minWidth is set to 0 to prevent overflow */
}



.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.group-box {
  background: var(--form-groupbox-bg);
  margin: 0.3cap;
  padding: 0px 0;
  border: none;
}

.group-box-border {
  /* width: 100%; */
  margin: 1cap 0.3cap 0.5cap;
  padding: 1.3cap 0.3cap 0.5cap;
  border: 1px solid var(--form-border);
  border-radius: 5px;
}

.tab-widget {
  border: 1px solid var(--form-border);
  border-radius: 5px;
  padding: 0;
}


.tab-page {
  padding: 0;
}

.group-box-title {
  position: absolute;
  border: 1px solid var(--form-border);
  border-radius: 5px;
  top: -1cap;
  left: 1cap;
  background-color: var(--form-groupbox-bg);
  padding: 0 5px;
  margin: -2px;
  font-weight: bold;
  color: var(--form-label);
}

.form-label {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

label {
  color: var(--form-label);
}


.field-set-style {
  border: none;
  padding: 0;
  width: 100%;
  display: flex;
}

.form-group {
  margin-right: 0.6em;
  margin-bottom: 0.1em;
  width: 100%
}