#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ToolBar {
  padding: 1px;
  background-color: bisque;
}

.ToolBar button {
  margin: 1ex;
  border: 2px solid indigo
}

.ToolBar button:hover {
  background-color: deepskyblue;
}


