#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.DataGridComponent {
  background-color: rgb(93, 130, 231);
  height: 200px;
  overflow: auto;
}

.DataGridComponent table {
  border-collapse: collapse;
  /* width: auto; */
}

.DataGrigHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  background:  rgb(16, 128, 219);
  border-top: 2px solid black;
}

.DataGridComponent td, th {
  border: 1px solid black;
  padding: 1px;
  text-align: left;
}
